@use '../base/variables';

.button {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: variables.$default-btn-color;
  height: 52px;
  width: 100%;
  color: variables.$dark-btn-color;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  img {
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    margin-right: 10px;
  }

  &:hover {
    background-color: variables.$hover-btn-color;
  }

  &:active {
    background-color: variables.$pressed-btn-color;
  }

  &:focus {
    background-color: variables.$pressed-btn-color;
  }

  &_outline {
    border: 1px solid variables.$dark-btn-color;
    background-color: #fff;
  }

  &_dark {
    background-color: variables.$dark-btn-color;
    color: #fff;
    border-radius: 8px;
  }

  &_dark:hover {
    background-color: variables.$dark-btn-hover;
  }

  &_dark:active {
    background-color: variables.$dark-btn-pressed;
  }

  &_dark:focus {
    background-color: variables.$dark-btn-pressed;
  }

  @media (max-width: variables.$desktop-md) {
    height: 36px;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
  }
}

#send-form {
  width: 256px;

  @media (max-width: variables.$desktop-md) {
    width: 224px;
  }

  @media (max-width: variables.$desktop-sm) {
    width: 200px;
  }
}
