@use '../base/variables';

.product-card {
  width: 316px;
  padding: 8px 12px 12px 12px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(28, 45, 64, 0.05);
  margin-right: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &:hover &__watch {
    display: inline-flex;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(n + 6) {
    // display: none;
  }

  @media (max-width: variables.$desktop-md) {
    width: 224px;
  }

  @media (max-width: variables.$desktop-sm) {
    width: 184px;
  }

  @media (max-width: variables.$tablet-lg) {
    width: 213px;
    &:nth-child(n + 5) {
      // display: none;
    }
  }

  @media (max-width: variables.$tablet) {
    &:nth-child(n + 4) {
      // display: none;
    }
  }

  @media (max-width: 500px) {
    &:nth-child(n + 3) {
      // display: none;
    }
  }

  @media (max-width: variables.$mobile) {
    width: 156px;
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
    position: relative;
    z-index: 400;
  }

  &__btn {
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 34px;
    height: 34px;
    border-radius: 7px;
    outline: none;
    align-self: flex-end;
  }

  &__btn_1 {
    background: url(assets/img/icon-card-1.svg);
  }

  &__btn_1:hover {
    background: url(assets/img/icon-card-1-hover.svg);
  }

  &__btn_1:active {
    background: url(assets/img/icon-card-1-active.svg);
  }

  &__btn_1:focus {
    background: url(assets/img/icon-card-1-active.svg);
  }

  &__btn_2 {
    background: url(assets/img/icon-card-2.svg);
  }

  &__btn_2:hover {
    background: url(assets/img/icon-card-2-hover.svg);
  }

  &__btn_2:active {
    background: url(assets/img/icon-card-2-active.svg);
  }

  &__btn_2:focus {
    background: url(assets/img/icon-card-2-active.svg);
  }

  &__banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 19px;
    flex: 0 0 auto;
  }

  &__img {
    margin: -20px auto;
    height: 170px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
  }

  &__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-top: -10px;

    @media (max-width: variables.$desktop-sticker-md) {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__article {
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
    padding: 4px 6px;
    white-space: nowrap;
    position: relative;
    z-index: 400;
  }

  &__comments {
    display: inline-flex;
    padding: 4px;
    align-items: flex-end;
    border-radius: 5px 5px 0px 0px;
    background: #fff;
    position: relative;
    z-index: 400;
  }

  &__count {
    margin-left: 4px;
  }

  &__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
    flex: 1 0 auto;

    @media (max-width: variables.$desktop-md) {
      font-size: 14px;
      line-height: 20px;
    }

    @media (max-width: variables.$desktop-sm) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__stickers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
  }

  &__prices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;

    @media (max-width: variables.$tablet) {
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__price {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;

    &_old {
      color: variables.$subtitle-text;
      text-decoration: line-through;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      margin-left: 12px;

      @media (max-width: variables.$tablet) {
        margin-left: 0;
        margin-bottom: 4px;
      }
    }
  }

  &__unit {
    color: variables.$subtitle-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 4px;
  }

  &__button {
    align-self: center;
  }

  &__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 0 0 auto;
  }
}
