@use '../base/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  color: variables.$main-text;
}

.container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: variables.$desktop-md) {
    max-width: 1224px;
  }

  @media (max-width: variables.$desktop-sm) {
    max-width: 992px;
  }

  @media (max-width: variables.$tablet) {
    max-width: 695px;
  }

  @media (max-width: variables.$mobile) {
    max-width: 370px;
  }
}

:active,
:hover,
:focus {
  outline: none;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: inherit;
}

button,
select,
input {
  cursor: pointer;
}
