$subtitle-text: #6A727B;
$main-text: #1A1A1A;
$dark-btn-color: #4092F1;
$dark-btn-hover: #3886E1;
$dark-btn-pressed: #2176DA;
$default-btn-color: #EDF5FE;
$hover-btn-color: #E2EEFC;
$pressed-btn-color: #DAE8FA;
$input-color: #F5F8FA;
$input-invalid: #FAF1F1;
$input-hover: #EFF2F6;
$err-text: #ED5858;

$desktop-sticker-md: 1599px;
$desktop-sticker-sm: 1030px;
$desktop-md: 1399px;
$desktop-sm: 1023px;
$tablet: 766px;
$mobile: 359px;
